page-home {
    ion-title{
        text-align: center;
        color: black;
    }

    .body{
        background-color: #5f6061;

        ion-item{
            background-color: #5f6061;
            color: orange;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}
